<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
Matt's App      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-success btn-lg" href="http://meanjs.org" target="_blank">Click Me</a>
      </p>
    </div>
  </div>
  <div class="container-fluid">
    <div id="result">Waiting for result: {{wallet}}</div>
    <p>
    <input type="button" onclick="Ledger.isAppAvailable()" value="Is Ledger app available?">
    </p>
  <h1 style="text-align:center;">Recent Transactions</h1>
  <h2 style="text-align:center;">on the Korbit  Exchange</h2>

  <div class="row">
    <div class="col-md 12">
  <table class="table"> <h1 style="text-align:center;">Recents!</h1>
    <thead>
      <tr>
        <th>Time</th>
        <th>Transaction ID</th>
        <th>Price</th>
        <th>Amount (<i class="fa fa-btc" aria-hidden="true"></i>)</th>
      </tr>
    </thead>
    <tbody class='transList'>
      <tr ng-repeat='order in orders' ui-sref='pictures.list'>
        <td>{{order.timestamp | date: 'medium'}}</td>
        <td>{{order.tid}}</td>
        <td bgcolor="gold" >{{order.price  | currency:"&#8361;":0}}</td>
        <td>{{order.amount}}</td>

  </table>
  </div></div></div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>The mpatc Team.
</section>
